<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/pic.jpg">
        <p>
            <li>This site provides a real time weather information.</li>
            <li>It takes input as a location and converts it into a geographical coordinates via API.</li>
            <li>These coordinates are used to fetch the weather of the location via another API.</li>
        
        </p>
         </div>
        {{>footer}}
    </body>
</html>