<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h2>This is some helpful text</h2>
         <li>Enter the name of the place to know the current weather</li>
         <li>Do not enter pincode or geographical coordinates</li>
         <p><h2>For more help Contact us through email</h2></p>
         <p>Email : privatekumaryash@gmail.com</p>

        </div>
        {{>footer}}
    </body>
</html>